<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596169477965-tma9fpo3u9g6el1k7db060310rihgru0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596169477965-tma9fpo3u9g6el1k7db060310rihgru0</string>
	<key>API_KEY</key>
	<string>AIzaSyCPA7ynouSw7w_zp1zl8AnFdrPgPDfWMh4</string>
	<key>GCM_SENDER_ID</key>
	<string>596169477965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tabyt</string>
	<key>PROJECT_ID</key>
	<string>tabyt-45d8b</string>
	<key>STORAGE_BUCKET</key>
	<string>tabyt-45d8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596169477965:ios:c47c4d31ed35e3bebaf104</string>
</dict>
</plist>